<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bugs.js"></script>
</head>
    <body>
        <header>
            <h1>@Model.title</h1>
        </header>
        <ul id="bugsHolder"></div>

        <script>
            $(function () {
                bugsManager.get("bugsHolder");
            });
        </script>
    </body>
</html>